Python version 3.9.19
adjust==0.1.0
adjustText==1.2.0
gensim==4.3.2
hdbscan==0.8.38.post1
jieba==0.42.1
mantel==2.2.1
matplotlib==3.8.4
matplotlib-venn==0.11.10
numpy==1.26.4
openai==1.35.7
openpyxl==3.1.2
pandas==2.2.2
pillow==10.3.0
requests==2.31.0
scikit-learn==1.4.2
scikit-learn-extra==0.3.0
scipy==1.12.0
seaborn==0.13.2
tqdm==4.66.4
tzdata==2024.1
umap-learn==0.5.6
urllib3==2.2.1
wordcloud==1.9.3
wrapt==1.16.0
yarl==1.9.4

R version 4.3.3
ggplot2_3.5.0  
ggpubr_0.6.0
reshape_0.8.9
tidyverse_2.0.0
DescTools_0.99.54
rstatix_0.7.2
effsize_0.8.1
car_3.1-2
RColorBrewer_1.1-3
corrplot_0.92
corrr_0.4.4
asbio_1.9-7
mgsub_1.7.3
gghalves_0.1.4
reshape2_1.4.4
boot_1.3-29
lsa_0.73.3